label{
    display: block;
    margin: 5px 0;
}
form{
    background-color: rgba(58, 58, 58, 0.011);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.274);
    padding: 20px;
    margin: 0 0 30px 0;
}
input , select, textarea{
    width: 100%;
    border-radius: 2px;
    border: 1px solid rgb(200, 200, 200);
    height: 30px;
    box-shadow: -1px 1px 1px rgba(200, 200, 200, 0.363);
}
.Information{
    display: flex;
}
.Information li{
    width: 100%;
}
#Direccion , #Telefono{
    width: 90%;
}
.Information li select{
    width: 101%;
    height: 34px;
}
#Mensaje{
    resize: none;
    height: 100px;
}
.Button{
    cursor: pointer;
    font-size: 1em;
    margin: 15px 0 0 1px;
    width: 85px;
    padding: 8px 12px;
    background-color: rgb(17, 17, 17);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 600px){
    .Information{
        display: block;
    }
    #Direccion , #Telefono{
        width: 100%;
    }
    .Information li select{
        width: 101.5%;
        height: 40px;
    }
}