.Tools{
    display: flex;
    justify-content: space-between;
}
.Values select{
    width: 50px;
    text-align: center;
}
.Search input{
    width: 24vw;
}
table{
    margin: 15px 0;
    width: 100%;
    table-layout: auto;
}
table, th, td{
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
}
th{
    padding: 15px;
}
tr td:last-child{
    background-color: rgba(236, 232, 232, 0.053);
    margin: 0;
    padding: 0;
}
tr:nth-child(even){
    background-color: rgba(198, 196, 196, 0.053);
}
.Icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.Delete{
    margin-right: 22px;
}
.Input{
    font-weight: bold;
    display: block;
}
.IconsActions{
    position: absolute;
    width: 25px;
    cursor: pointer;
}
.Output{
    display: block;
    margin: 10px 0;
}
.PageInformation{
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    font-size: 15px;
}
.ShowInformation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.ButtonsPageInformation{
    display: flex;
}
.ButtonsPageInformation button{
    cursor: pointer;
    background-color: white;
    padding: 5px 15px;
    color: rgb(49, 49, 49);
    font-size: 15px;
    border: 1px solid rgb(155, 155, 155);
    box-shadow: 0px 0px 1px  rgba(19, 19, 19, 0.355);
}
#Previous{
    border-radius: 6px 0 0 6px;
}
#Next{
    border-radius: 0 6px 6px 0;
}
.PageNumberDiv{
    background-color: rgb(62, 62, 237);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#PageNumber{
    margin: 0 15px;
    color: white;
}